/*-----  CSS RESET  ------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  }

  img {
    max-width: 100%; /* this ensures images never break their container */
    height: auto;
  }

  body {
    font-family: 'Noto Sans HK', sans-serif;
    color: rgb(120,120,125);
  }

   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid] {   margin: 0;  }
  [class*=col]  {   padding: 0; }


  /* ------------- Utility Classes --------------  */

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }

  .padded   {  padding: 5%;    }
  .padded-1 {  padding: 1rem;  }
  .padded-2 {  padding: 2rem;  }

  .capped-width { width: 80%; margin: auto;}

  .tall-50  {  min-height: 50vh;   }
  .tall-100 {  min-height: 100vh;  }

  .dark-bg      {  background-color: #D5D5D5 ;     }
  .light-bg     {  background-color: #E6E6E6;  }
  .featured-bg  {  background-color: #FFE6E6;       }

  .light-text   { color: white; }
  .flex-flip:nth-child(2n){  flex-direction: row-reverse; }
  /* General typography */

  h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
  }

  h2  { font-size: 2.2rem; }
  h3  { font-size: 1.8rem;  }
  h4  { font-size: 1.4rem;  }
  p   { font-size: 1rem;  }

  p, ul {
     margin-bottom: 0.8rem;
  }

/* Header */


  header.fixed {
      position: fixed;
      background-color: #f9ca24;
      top:0;
      left:0;
      right:0;
      z-index: 2;
      margin:0;
      padding: 1%;
      text-align: center;
    }


      header {
        padding: 2% 5%;
      }

      header a,
      footer a,
      nav a {
        text-decoration: none;
        color: inherit;
      }

      header nav a,
      .inline a {
        display: inline-block;
        padding: 0.5rem;
      }
      nav a:hover {
        color: #606A6A ;
      }

      header nav a.emphasis {
        /* padding: 0.5rem 2rem; */
        margin: 0 0.5rem;
        border: 1px solid #606A6A ;
        border-radius: 2px;
        color: #606A6A ;
      }

      header nav a.emphasis:hover {
        background-color: #606A6A ;
        color: white;
      }



  hr { /* this is a line element */
      border: none;
      border-bottom: 3px solid;
      width: 4rem;
      margin-bottom: 1rem;
    }


      .bg-image {
        background-image: url('../images/laptop.jpg');
        background-size: cover;
        background-position: center;
        min-height: 10rem;
      }

      .bg-image2 {
        background-image: url('../images/weeklyplanner.jpg');
        background-size: cover;
        background-position: center;
        min-height: 10rem;
      }
      .banner{
  color: white;
  background-image: url("images/birdseyelaptop.jpg");
  background-size: cover;
  min-height: 75vh;
}
.image1{
  color: white;
  background-image: url("images/dog.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.image2{
    color: white;
    background-image: url("images/bedroom.jpg");
    background-size: cover;
    background-position: center;
    min-height: 75vh;
  }

      .card {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .card .author {
    font-weight: bold;
    margin-bottom:0;
    }

  .card .company {
    margin-bottom: 2rem;
    }


    .button,
      .button-solid,
      .button-inverted {
        text-decoration: none;
        color: #8ADCDF ;
        border: 2px solid;
        padding: 0.6rem 2rem;
        margin-top: 1rem;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
      }

      .button:hover {
        color: rgb(60, 60, 60);
      }

      .far {        /* default styles for font awesome icons */
    font-size: 2rem;
    margin-bottom: 1rem;
  }

      /* -- Footer -- */

footer .info {
  padding-right: 3rem;
}

footer nav a {
  display:block;
}

footer h3 {
  font-size: 1.2rem;
}
