<!-- <h2> Icon Grid #2 </h2> -->

<section class="padded dark-bg centered">
  <h2> Our Services </h2>
  <div class="grid padded-1">
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-tasks"></i>
      <h4 class="padded-1"> Business Support </h4>
      <p>Recruitment, sales, HR admin, Social Media - let us know what you need. </p>
    </div>
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-briefcase"></i>
      <h4 class="underlined"> Startup Management </h4>
      <p> Starting a new business is tough! Luckily we have lots of experience in this and can support you, introduce and streamline your business and introduce the tools you need to kick off.</p>
    </div>
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-gift"></i>
      <h4 class="underline-border padded-1"> Lifestyle </h4>
      <p> Travel, gifting, household management - here so you can focus on the things that matter. </p>
    </div>
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-user-tie"></i>
      <h4> Virtual Assistant </h4>
      <p>Your very own virtual Executive Assistant without the costs or commitment of an employee.</p>
    </div>
  </div>
</section>
