<!-- <h2> Icon Grid #2 </h2> -->

<section class="padded dark-bg centered">
  <h2 class="editable">
    Our Services
  </h2>
  <div class="grid padded-1">
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-tasks"></i>
      <h4 class="editable">
        Business Support
      </h4>
      <p class="editable">
        For when you need a trusted partner to help with the day-to-day running of your business - things like liaising with clients, handling enquiries, supporting sales and recruitment needs.
      </p>
    </div>
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-briefcase"></i>
      <h4 class="editable">
        Startup Management
      </h4>
      <p class="editable">
        For when you&rsquo;re just starting out but need help to take the right steps in the right order. Establish your business and get sorted with governance, policies, software and more..
      </p>
    </div>
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-gift"></i>
      <h4 class="editable">
        Lifestyle
      </h4>
      <p class="editable">
        For when your personal admin takes a backseat to the business stuff. Get help booking holidays, remembering important dates, handling gift lists, or even coordinating your other home help.
      </p>
    </div>

    <!-- nderline-border  -->
    <div class="col-3_md-12 padded-1">
      <!-- <i class="far fa-comment padded"></i> -->
      <i class="fas fa-user-tie"></i>
      <h4 class="editable">
        Virtual Assistant
      </h4>
      <p class="editable">
        For when you need support with things like research, handling suppliers or travel arrangements, or management of busy inboxes and diaries. This is the traditional personal assistant role, and it&rsquo;s no longer the domain of just big corporate CEOs.
      </p>
    </div>
  </div>
</section>
